{% extends "auctions/layout.html" %}


{% block body %}
{% if message %}
    <div>
        <ul>
            <li>{{ message }}</li>
        </ul>
    </div>
{% endif %}

<div>
    <h1>{{ listing.won_auction.title }}</h1>
    <hr>
    <img src="{{ listing.won_auction.image_link }}" alt="{{ listing.won_auction.title }}" style="width: 300px;">
    <br> <br>
    <p>Starting price: <strong>${{ listing.won_auction.price }}</strong></p>
    <p>Won with: <strong>${{ listing.winning_price }}</strong></p>
</div>

<div>
<h3>Details</h3>
<ul>
    <li>Listed by: <strong>{{ listing.won_auction.owner }}</strong></li>
    <li>Category: <strong>{{ listing.won_auction.categories }}</strong></li>
    <li>Created: <strong>{{ listing.won_auction.orig_date }}</strong></li>
</ul>
</div>

{% endblock %}

