{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Auctions{% endblock %}</title>
    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/7fe15bd877.js" crossorigin="anonymous"></script>
</head>

<div class="jumbotron">
    <div class="container text-center">
        <h2>Auctions</h2>
        <div>
            {% if user.is_authenticated %}
            Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
            Not signed in.
            {% endif %}
        </div>
    </div>
</div>
{% block head %}
{% endblock %}
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'index' %}">Active Listings</a></li>
                <li><a href="{% url 'categories' %}">Categories</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'createListing' %}">Create Listings</a></li>
                <li><a href="{% url 'watchlist' %}">Watchlist</a></li>
                <li><a href="{% url 'closedAuctions' %}">Closed Auctions</a></li>
                <li><a href="{% url 'myWinnings' %}">My Winnings</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span> Log In</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<hr>
{% block body %}
{% endblock %}
</body>
</html>
